<%= form_for(@rating, :html => { :onsubmit => "return checkValues()"}) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>
      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag("User ID") %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= label_tag("Restaurant ID") %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= label_tag("Rating (1-5)") %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <label>Last Visit Date</label><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <input id="submit" name="commit" value="Create Rating" type="submit" onSubmit="return checkValues()">
  </div>
<% end %>
<% # Javascript level validation %>
<h1 id="error"></h1>
<script>
  var max_user_id = <%= user_id_validation[0].max %>;
  var max_restaurant_id = <%= restaurant_id_validation[0].max %>;
  document.getElementById("submit").onclick = function() {checkValues()};
  function checkValues(){
    // checks if value is below max user ID
    if(!(document.getElementById("rating_user_id").value >= 0) && !(document.getElementById("rating_user_id").value < max_user_id)){
      document.getElementById("error").innerHTML = "Invalid input";
      alert("Invalid input");
      return false;
    }
    else if(!(document.getElementById("rating_restaurant_id").value >= 0) && !(document.getElementById("rating_restaurant_id").value < max_restaurant_id[0].max)){
      document.getElementById("error").innerHTML = "Invalid input";
      alert("Invalid input");
      return false;
    }
    else if(!(document.getElementById("rating_rating").value >= 1) && !(document.getElementById("rating_rating").value <= 5)){
      document.getElementById("error").innerHTML = "Invalid input";
      alert("Invalid input");
      return false;
    }
    return true;
  }
</script>